body {
    font-family: 'Lucida Console', monospace;
    font-size: 18px;
    color: #111;
    background-color: white;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3%;
    box-sizing: border-box;
    height: 100vh;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    justify-content: flex-start;
    text-align: center;
}

svg {
    width: 100%;
    height: 100px;
}

.svg-container {
    width: 100%;
    display: inline-block;
}

.separator {
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 30px auto;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

td {
    padding: 5px 20px;
    border: 1px solid #dddddd;
}

.quiet,
.links-container a {
    color: inherit;
}

.links-container {
    font-size: 24px;
    margin: 10px;
}

.links-container a {
    text-decoration: none;
    margin: 0 10px;
}

@media screen and (min-width: 1000px) {
    .translate-component {
        display: flex;
        height: 60%;
        font-size: 16px;
    }

    .translate-input-wrapper {
        width: 47%;
        margin: 1%;
        display: flex;
        flex-direction: column;
    }   
    
    .translate-input {
        padding: 1%;
        height: 80%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        /* max-height: 100px; */
        overflow: auto;
        word-wrap: break-word;
	    overflow-wrap: break-word;
	    white-space: normal;
        flex-grow: 1;
    }
    
    .translate-input:read-write:focus {
        outline: none;
    }
    
    .normal {
        filter: invert(0);
    }
    .inverted {
        filter: invert(1);
    }
}

@media screen and (max-width: 1000px) {
    .translate-component {
        display: flex;
        height: 70%;
        width: 100%;
        flex-direction: column;
        font-size: 16px;
    }

    .translate-input-wrapper {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 2%;
    }   
    
    .translate-input {
        padding: 1%;
        height: 90%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        /* max-height: 100px; */
        overflow: auto;
        word-wrap: break-word;
	    overflow-wrap: break-word;
	    white-space: normal;
    }
    
    .translate-input:read-write:focus {
        outline: none;
    }
    
    .normal {
        filter: invert(0);
    }
    .inverted {
        filter: invert(1);
    }
}

.textWrapper {
    display: inline-block;
    margin-bottom: 1%;
    margin-right: 2%;
}

.germanText {
    display: block;
}

.katakanaText {
    display: block;
}

.popover {
    position: absolute;
    padding: 0.5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    background-color: #dddddd;
}


